:local .dropdownSearch {
  background-color: #fff;
  border: 1px solid #cbd5dd;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
  max-height: 150px;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  z-index: 100;
}

:local .miniBoxIcon {
  align-items: center;
  display: flex;
  flex: 1;
  height: 30px;
  justify-content: center;
  min-width: 30px;
}
